*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*body {
background-image: url(img/.png);
height: 100vh;
background-size: cover;
}*/
.jumbotron{
	background-image: url(img/10.jpg);
	background-repeat: no repeat;
	height: 20vh;
	background-size: cover;
	margin: 0px;
	background-position: center;
	background-attachment: fixed;
}

.jumbotron h1 strong{
	color: black;
	margin-top: 50px;
	font-size: 1em;
	width: 100%;
	text-align: center;
}
body{
	background-color: #d9dddc;
}
 strong{
 	font-size: 17px;
	padding: 5px;
	margin-top: 20px;
}   
/*.row img{
	height: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 300px;
	margin-bottom: 15px;
}
/*dude1 start*/
.dude1 img.one{
	width: 100%;
}
.dude1 h3.one{
	font-size: 30px;
}
.dude1 p.one{
	font-size: 16px;
}
div.item img.one{
	height: 500px;
}
div li.team a{
	font-size: 16px;
}
footer p{
	font-size: 13px;
	text-align: center;

}



div.item img.two{
	height: 250px;
	width: 300px;
}


.imgcontainer img.avatar{
	width: 200px;
    text-align: center;
}


/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}












/*.jumbotron p{
color: #6693f5;
}
p {
font-size: 16px;
text-align: justify;
margin-left: 60px;
margin-right: 60px;
}
h3{
font-size: 28px;
}
h4 {
font-size: 22px;
}
div.row{
background-color: #95c8d8;
}
h5 {
font-size: 14px;
padding-top: 8px;
}
.dude2 p{
padding: 5px;
margin-top: 20px;
margin-bottom: 20px;
}
.dude2a img{
height: 150px;
margin-top: 15px;
width: 250px;
margin-bottom: 15px;
}
.dude3 img{
height: 127px;
margin-top: 15px;
width: 250px;
margin-bottom: 15px;
}
.dude3a h5{
font-size: 16px;
}
.dude3a p{
padding: 2px;
margin-top: 20px;
margin-bottom: 20px;
}
.dude4 p{
padding: 1px;
margin-top: 5px;
margin-bottom: 5px;
}
.dude4 h6{
font-size: 16px;
padding: 5px;
margin-top: 10px;
}
.dude4 img{
height: 222px;
margin-top: 15px;
margin-bottom: 15px;
width: 300px;
margin-bottom: 15px;
}
.dude5 h6{
font-size: 16px;
padding: 5px;
margin-top: 10px;
}
.dude5 img{
height: 550px;
margin-top: 15px;
margin-bottom: 15px;
width: 330px;
margin-bottom: 15px;
}

